<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ajfunctionappp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/71d93c6a-7dd8-4c6d-b9b1-90a3c848ca9d/resourcegroups/adamjrg/providers/Microsoft.Web/sites/ajfunctionappp</ResourceId>
    <UserName>$ajfunctionappp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ajfunctionappp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>